.git/
.github/
**/node_modules/
**/.env
**/.env.local
**/.vscode/
**/*.md
apps/indexer/build/
apps/indexer/generated/
apps/indexer/scripts/
apps/monitoring/.env
apps/monitoring/.env.example
apps/monitoring/public/
__pycache__/
.mypy_cache/
.pytest_cache/
.venv/
venv/
depositor_fees_plot.png
