# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: yearn-v3-vault
description: Yearn V3 Vault Indexer
field_selection:
  transaction_fields:
    - hash
    - from
contracts:
  - name: YearnV3Vault
    handler: src/EventHandlers.ts
    events:
      - event: "Deposit(address indexed sender, address indexed owner, uint256 assets, uint256 shares)"
      - event: "Withdraw(address indexed sender, address indexed receiver, address indexed owner, uint256 assets, uint256 shares)"
      - event: "Transfer(address indexed sender, address indexed receiver, uint256 value)"
      - event: "StrategyReported(address indexed strategy, uint256 gain, uint256 loss, uint256 current_debt, uint256 protocol_fees, uint256 total_fees, uint256 total_refunds)"
      - event: "DebtUpdated(address indexed strategy, uint256 current_debt, uint256 new_debt)"
      - event: "StrategyChanged(address indexed strategy, uint256 indexed change_type)"
      - event: "Shutdown()"
networks:
  - id: 1
    start_block: 0
    contracts:
      - name: YearnV3Vault
        address:
          - "0xBe53A109B494E5c9f97b9Cd39Fe969BE68BF6204" # USDC
          - "0x028eC7330ff87667b6dfb0D94b954c820195336c" # DAI
          - "0x310B7Ea7475A0B449Cfd73bE81522F1B88eFAFaa" # USDT
          - "0x182863131F9a4630fF9E27830d945B1413e347E8" # USDS
          - "0xBF319dDC2Edc1Eb6FDf9910E39b37Be221C8805F" # CRVUSD
          - "0xc56413869c6CDf96496f2b1eF801fEDBdFA7dDB0" # WETH
  - id: 8453
    start_block: 0
    contracts:
      - name: YearnV3Vault
        address:
          - "0xb13CF163d916917d9cD6E836905cA5f12a1dEF4B" # USDC True Yield
          - "0xc3BD0A2193c8F027B82ddE3611D18589ef3f62a9" # USDC Horizon
          - "0x4d81C7d534D703E0a0AECaDF668C0E0253E1f1C3" # WETH Horizon
          - "0x25f32eC89ce7732A4E9f8F3340a09259F823b7d3" # cbBTC Horizon
  - id: 747474
    rpc_config:
      url: https://katana.drpc.org # RPC URL for that custom network
    start_block: 0
    contracts:
      - name: YearnV3Vault
        address:
          - "0x80c34BD3A3569E126e7055831036aa7b212cB159" # USDC
          - "0xE007CA01894c863d7898045ed5A3B4Abf0b18f37" # WETH
          - "0x9A6bd7B6Fd5C4F87eb66356441502fc7dCdd185B" # USDT
          - "0xAa0362eCC584B985056E47812931270b99C91f9d" # WBTC
unordered_multichain_mode: true
preload_handlers: true
address_format: lowercase
